body {
    
    background-color: floralwhite;
}


.text-center {
    text-align: center;

}



.flex {
    display: flex;
}


bold{
    font-weight:bold;
}

.subrayado{
    text-decoration-line: underline;
}

