header {
    display: flex;
    margin: 50px;

}

    .header .searchbar {
        border-radius: 10px;
        width: 600px;
        height: 30px;
        align-self: center;
        margin: 12px;
    }

    .header input[type=text] {
        padding: 6px;
        font-size: 17px;
    }

    .header .searchbar:hover {
      border:none;
      
    }

    .header .carrito {
        align-self: center;
        display: inline-block;
        
    }

nav {
    background-color: #0431B4;
    padding: 10px 30px;
    text-decoration: none;
    justify-content: space-around;
}


.navbar-item {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-weight: 700;
    
}

.navbar-item:hover {
    background-color: dodgerblue;
    text-decoration: none;
    
    
}

.navbar-item:active {
    text-decoration:none;
}

.footer {
    width: 100%;
    background: #b0b0b0;
    color: #fff;
    padding: 30px 0 0 0;
    font-size: 80%;
}

.footer-der {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.datos-footer {
    width: 100%;
    bottom:0;
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}