.header {
    display: flex;
    

}

    .header .searchbar {
        float: left;
        border-radius: 10px;
        width: 600px;
        height: 30px;
        display: inline-block;
        align-self: center;
        margin: 12px;
    }

    .header input[type=text] {
        padding: 6px;
        font-size: 17px;
    }

    .header .searchbar:hover {
      border:none;
      
    }

    .header .carrito {
        align-self: center;
        display: inline-block;
        
    }

nav {
    background-color: #0431B4;
    padding: 10px 30px;
    text-decoration: none;
    justify-content: space-around;
}


.navbar-item {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-weight: 700;
    
}

.navbar-item:hover {
    background-color: dodgerblue;
}

﻿
