.containerproductos {
    margin: 20px auto;
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.displayProducto {
    width:23%;
    height: 350px;
    /*display: inline-block;*/
    color: #333;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888;
    border-color: #888;
    box-sizing: border-box;
}

    .displayProducto:hover {
        box-shadow: 5px 5px 3px #888;
    }

    .nombreproducto{
        font-weight:bold;

    }

    .fotoproducto {
        width: 250px;
        height: 180px;
    }

.precio {
    font-weight: bold;
    display: block;
    font-size: x-large;
    color: red;
}

.btnComprar {
    text-decoration: none;
    display: block;
    color: #888;
}

@media {


}