

.azul {
    color: #0431B4;
}

.fondogris {
    background-image: url(../Images/2.jpg);
    background-size: 100%;
    /*background-color: gray;*/
}

.fondoceleste {
    background-image: url(../Images/1.jpg);
    background-size: 100%;
}

.loginform {
    margin: 20px;
    background: #EFF3FB;
    border-color: #B5C7DE;
    border-style: solid;
    border-width: 1px;
    color: #333333; 
       
}

.bg-azul {
    background-color: midnightblue;
}
.btnlogin {
width: 250px;
height: 50px;
border: none;
color: white;

}

.caja {
    align-self: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 110px;
    max-width: 40%;
    background-color: white;
    vertical-align: middle;
}

.tituloUsuario {
    margin: auto;
    max-width: 30%;
    text-align: center;
}
